@use 'variables' as *;

body {
  background: url(../../img/bg.jpg);
  background-size: cover;
  background-repeat: repeat;
  #bg-wrapper {
    background-color: rgba(209, 77, 0, 0.63);
    width: 100%;
    height: 100%;
  }
}
header {
  display: flex;
  background-color: $brown;
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  h1 {
    flex-basis: 60%;
  }
  button {
    flex-basis: 20%;
    background-color: $orange;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 1rem;
    height: 40px;
    &:hover {
      background-color: $blue;
    }
    cursor: pointer;
  }
  #task {
    fill: $orange;
    width: 50px;
    height: 50px;
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px 420px;
  border: 2px solid black;
  box-shadow: 5px 5px 15px 5px #000000;
  position: relative;
  #navbar {
    background-color: $orange;
    color: white;
    height: 50px;
    line-height: 50px;
    ul {
      justify-content: space-between;
      display: flex;
      text-align: center;
      height: 50px;
    }
    li {
      margin: 0px 0px;
      width: 100%;
      color: rgb(255, 255, 255);
      cursor: pointer;
      text-align: center;
      &:hover {
        background-color: $blue;
      }
    }
  }
  #todo-page {
    display: flex;
    background-color: rgb(255, 245, 230);
    flex-basis: 100%;
    flex-direction: column;
    margin: auto;
    width: 100%;
    h1 {
      border-bottom: 2px black solid;
      text-align: center;
      width: 80%;
      margin: 0px auto;
    }
    .todo {
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 20px 150px;
      #todo-text {
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        flex-basis: 70%;
        align-items: center;
        #date {
          width: 10em;
          height: 2em;
        }
      }
      #button-cont {
        display: none;
      }
    }
    #todo-list {
      display: flex;
      flex-direction: column;
    }
    #todo-text {
      flex-basis: 70%;
      text-align: center;
      background-color: $blue;
      border-radius: 5px;
      line-height: 40px;
      color: white;
    }
    .edit-input {
      flex-basis: 70%;
      text-align: center;
      background-color: $blue;
      border-radius: 5px;
      line-height: 40px;
      color: rgb(255, 255, 255);
      outline: none;
      border: none;
      &::placeholder {
        color: rgb(0, 0, 0);
      }
    }
    #new-todo-container {
      margin: 50px auto;
      #add-new-todo-button {
        width: 100px;
        height: 100px;
        fill: $orange;
        cursor: pointer;
        &:hover {
          fill: $blue;
        }
      }
      #add-task {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
          height: 30px;
        }
        #task-title {
          font-size: 1.2rem;
        }
        #button-container {
          display: flex;
          gap: 10px;
          button {
            color: white;
            width: 100%;
            height: 30px;
            cursor: pointer;
          }
          #add-task-btn {
            background-color: $blue;
            &:hover {
              background-color: $red;
            }
          }
          #cancel-task-btn {
            background-color: $orange;
            &:hover {
              background-color: $red;
            }
          }
        }
      }
    }
  }
}

#delete {
  margin: 0px 10px;
  fill: $brown;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover {
    fill: $orange;
  }
}

#complete {
  @extend #delete;
  &:hover {
    fill: rgb(0, 177, 0);
  }
}

#projects {
  display: none;
  flex-direction: column;
  background-color: $brown;
  position: absolute;
  margin: 0px 0px;
  left: -150px;
  top: 200px;
  bottom: 350px;
  min-height: 500px;
  width: 300px;
  border: 2px solid black;
  border-radius: 20px;
  #projects-title {
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 0px 20px;
  }
  #projects-container {
    width: 250px;
    // height: 400px;
    margin: 20px auto;
    .project {
      display: flex;
      justify-content: space-between;
      margin: 5px auto;
      text-indent: 5px;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 245, 230);
      border-radius: 5px;
      cursor: pointer;
      align-items: center;
      &:hover {
        background-color: rgba(255, 245, 230, 0.76);
      }
      #delete-project {
        width: 50px;
      }
    }
    #project-input {
      width: 100%;
      height: 20px;
    }
  }
  #add-project-button {
    width: 80%;
    height: 40px;
    margin: 5px auto;
    cursor: pointer;
    background-color: $blue;
    color: white;
    border-radius: 5px;
    &:hover {
      background-color: $orange;
    }
  }
  #input-button-container {
    display: flex;
    margin: 10px auto;
    gap: 5px;
    justify-content: center;
    color: white;
    #input-add {
      background-color: $blue;
      flex-basis: 50%;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgb(122, 0, 0);
      }
    }
    #input-cancel {
      background-color: $orange;
      flex-basis: 50%;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgb(122, 0, 0);
      }
    }
  }
}
