@use 'variables' as *;

header {
  display: flex;
<<<<<<< HEAD
  background-color: $brown;
=======
  background-color: rgb(80, 1, 1);
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
  padding: 20px;
  color: white;
  text-align: center;
  justify-content: flex-start;
<<<<<<< HEAD
  align-items: center;
=======
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
  h1 {
    flex-basis: 60%;
  }
  button {
    flex-basis: 20%;
<<<<<<< HEAD
    background-color: $orange;
=======
    background-color: rgb(241, 70, 28);
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
    border-radius: 5px;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 1.5rem;
<<<<<<< HEAD
    &:hover {
      background-color: $blue;
    }
    cursor: pointer;
  }
  svg {
    fill: $orange;
    width: 50px;
    height: 50px;
=======
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
  }
}

#content {
  margin: 0px 420px;
  border: 2px solid black;
  box-shadow: 5px 5px 15px 5px #000000;
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  #sidebar {
<<<<<<< HEAD
    background-color: $orange;
=======
    background-color: rgb(241, 70, 28);
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
    color: white;
    height: 50px;
    line-height: 50px;
    ul {
      justify-content: space-around;
      display: flex;
      text-align: center;
    }
    li {
      margin: 0px 10px;
      width: 100px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      text-align: center;
      &:hover {
<<<<<<< HEAD
        background-color: $blue;
=======
        background-color: rgb(0, 132, 255);
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
      }
    }
  }
  #todo-page {
    display: flex;
    background-color: rgb(255, 245, 230);
    flex-basis: 100%;
    flex-direction: column;
    margin: auto;
    width: 100%;
    h1 {
      border-bottom: 2px black solid;
      text-align: center;
      width: 80%;
      margin: 0px auto;
    }
<<<<<<< HEAD
    .todo-container {
=======
    .todo {
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
<<<<<<< HEAD
=======
    }
    li {
      flex-basis: 70%;
      text-align: center;
      background-color: rgb(0, 132, 255);
      border-radius: 5px;
      line-height: 40px;
      color: white;
>>>>>>> edbff69c03fef0e2ea6741243f4e98452a832562
    }
    li {
      flex-basis: 70%;
      text-align: center;
      background-color: $blue;
      border-radius: 5px;
      line-height: 40px;
      color: white;
    }
  }
}
#add {
  margin: 150px auto;
  width: 100px;
  height: 100px;
  fill: $orange;
  cursor: pointer;
  &:hover {
    fill: $blue;
  }
}
#edit,
#delete {
  margin: 0px 10px;
  fill: $brown;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover {
    fill: $orange;
  }
}
#add {
  margin: 150px auto;
  width: 100px;
  height: 100px;
  fill: rgb(255, 38, 0);
  cursor: pointer;
  &:hover {
    fill: rgb(0, 132, 255);
  }
}
#edit,
#delete {
  margin: 0px 10px;
  fill: rgb(80, 1, 1);
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover {
    fill: rgb(255, 38, 0);
  }
}
